:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-right: 1px solid var(--border-color);
  padding-top: 15px;
  align-items: center;
  min-width: 300px;
}
.users {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
