@let msg = message();
<div [className]="userName === msg.from ? 'sent' : 'received'">
  <mat-card class="message">
    <mat-card-header class="message__header">
      {{ msg.datetime | date : "MMM d, h:mm:ss a" }}
    </mat-card-header>
    <mat-card-content>
      {{ msg.text }}
    </mat-card-content>
    @if(userName === msg.from ){
    <div class="message__status">
      {{ msg.status.isReaded ? "✓✓" : "✓" }}
    </div>
    }
    <mat-card-actions class="message__actions">
      <button mat-icon-button class="message__button">
        <mat-icon class="message__icon">edit</mat-icon>
      </button>
      <button mat-icon-button class="message__button">
        <mat-icon class="message__icon">delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
