:host {
  display: flex;
  flex-direction: column;
}
.sent {
  align-self: flex-end;
  width: 40%;
}
.received {
  align-self: flex-start;
  width: 40%;
}
.message {
  max-width: 500px;
  position: relative;
}
.sent {
  align-self: flex-end;
}
.message__header {
  font-size: 12px;
  color: rgb(171, 171, 171);
}
.message__status {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: rgb(171, 171, 171);
}
.message__actions {
  display: flex;
  gap: 10px;
}
.message__button {
  box-shadow: none;
}
.message__more-button {
  position: absolute;
  right: 0;
}
.message__edited {
  font-size: 12px;
  color: rgb(171, 171, 171);
  margin-left: 10px;
}
.card__text {
  word-wrap: break-word;
}
@media screen and (width <=550px) {
  .sent {
    width: 60%;
  }
  .received {
    width: 60%;
  }
}
