:host {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  min-width: 300px;
  border-bottom: 1px solid rgb(184, 184, 184);
  border-top: 1px solid rgb(184, 184, 184);
  border-radius: 2px;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
p {
  margin: 0px;
}
.status {
  width: 5px;
  height: 5px;
  background: black;
  border-radius: 50%;
}
.status.active {
  background: greenyellow;
}
.status.inactive {
  background: rgb(255, 47, 47);
}
.user-icon {
  text-align: center;
  background-color: rgb(227, 227, 227);
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
